body {
	background-color: #fcfcfc !important;
}

.dropdown {
	display: inline;
}

.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid gray;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #2b3f52f2;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  height: 60px;
  width: 60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.top-menu {
	height: 50px;
	-webkit-transition: height 0.3s ease, background-color 0.3s ease;
	background-color: #f15861;
	border-bottom: 1px solid #f97aa3;
}

/*.top-link {
	font-weight: 400 !important;
    color: #e05130;
	-webkit-transition: display 0.3s ease;
}*/

/*.top-link:hover {
	color: #fcfcfc;
}*/

/*.scrolled-top-link {
	font-size: 0;
}*/

.scrolled-top-menu {
	height: 40px;
}

.top-float {
	margin-top: -15px;
	-webkit-transition: margin-top 0.3s ease;
}

/*.top-float a, .top-float span, .top-float i {
	font-weight: 400;
}*/

.top-float a {
	-webkit-transition: margin-top 0.3s ease;
	-webkit-transition: color 0.3s ease;

	font-weight: 300;
	color: #f3f2f2;
}

.top-float a:hover {
	color: #9ea9b3 !important;
	text-decoration: none;
}

.top-float a:focus {
	text-decoration: none;
	color: #f15861;
}

div[data-reactid='.0.0.0.1.0.0.1.$view-link-1'] {
	margin-right: 25px !important;
}

.scrolled-top-float {
	margin-top: -19px;
	color: #fcfcfc;
}

.card-title {
	font-weight: 300;
}

.text-muted {
	font-weight: 300;
}

.card-body-title {
	margin-left: 30px;
    margin-bottom: 30px;
    font-weight: 400;
}

.btn-secondary-light {
    background-color: #999da0 !important;
    border-color: #969696 !important;
}

.settings-link {
	font-size: 16px;
}

.main-card-dropdown {
	color: #00799C !important;
	border-color: #00799C !important;
}

.main-card-dropdown:hover, .main-card-dropdown:focus {
	color: white !important;
	background-color: #00799C !important;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

canvas[data-reactid=".0.0.1.0.0.0.0.0.1.1.0.0.0.2.0.0.0"], canvas[data-reactid=".0.0.1.0.0.0.0.0.1.1.0.1.0.2.0.0.0"] {
	width: 91% !important;
}

canvas {
	width: 103% !important;
}

.col-lg-12, .col-lg-6 {
	margin-left: 2.8% !important;
}

