body {
	background-color: #ececec !important;
}

.dropdown {
	display: inline;
}

.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid gray;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #2b3f52f2;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  height: 60px;
  width: 60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.top-menu {
	height: 50px;
	-webkit-transition: height 0.3s ease, background-color 0.3s ease;
	background-color: #2b3f52e3;
	border-bottom: 1px solid #5c6575;
}

/*.top-link {
	font-weight: 400 !important;
    color: #e05130;
	-webkit-transition: display 0.3s ease;
}*/

/*.top-link:hover {
	color: #fcfcfc;
}*/

/*.scrolled-top-link {
	font-size: 0;
}*/

.scrolled-top-menu {
	background-color: #2b3f52e3;
	height: 40px;
}

.top-float {
	margin-top: -15px;
	-webkit-transition: margin-top 0.3s ease;
}

/*.top-float a, .top-float span, .top-float i {
	font-weight: 400;
}*/

.top-float a {
	-webkit-transition: margin-top 0.3s ease;
	-webkit-transition: color 0.3s ease;

	font-weight: 400;
	color: #e05130 !important;
}

.top-float a:hover {
	color: #9ea9b3 !important;
}

.scrolled-top-float {
	margin-top: -19px;
	color: #fcfcfc;
}

.card-title {
	font-weight: 300;
}

.text-muted {
	font-weight: 300;
}

.card-body-title {
	margin-left: 30px;
    margin-bottom: 30px;
    font-weight: 400;
}
